<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
     <!--  <class name="com.obsqura.TestNGSample.BrowserCommands">
      	<methods>
      		<include name="verifyUrl"/>
      	</methods>
      
      </class> -->
      <!-- <class name="com.obsqura.TestNGSample.Locators">
      	<methods>
      		<include name="locatingxpathGarage"/>
      		<include name="locatingXpathCookwareDining"/>
      		<include name="locatingXpathAirdopeAddCart"/>
      	</methods>
      </class> -->
      	<!-- 	<class name="com.obsqura.TestNGSample.TestExecutionSpeed"/> -->
        <!--  <class name="com.obsqura.TestNGSample.WebElementCommands">
         	<methods>
         		<include name="sendKeysSample"/> 
         		<include name="getTotal"/> 
         		<include name="checkIntString"/> 
         	</methods>
         </class>  -->
        <!--  <class name="com.obsqura.TestNGSample.GetCSSValue">
         	<methods>
         		<include name="getCSSBgColor"/> 
         		<include name="getCSSColor"/> 
 				<include name="compareLocation"/>  
 				<include name="getAttribute"/>  
         		<include name="getTagName"/>
         		<include name="getSize"/>
         		<include name="enDisSel"/>
         	</methods>
         </class>  -->
        <!--  <class name="com.obsqura.TestNGSample.FormSubmit">
         	<methods>
         		<include name="subForm"/> 
         	</methods>
         </class>  -->
        <!--  <class name="com.obsqura.TestNGSample.ContinentDropDown"/> -->
        <!--  <class name="com.obsqura.TestNGSample.FindElementsSample"/> -->
       	 <!-- <class name="com.obsqura.TestNGSample.DatePickerSelect"/>   -->	 
       	<!--  <class name="com.obsqura.TestNGSample.SelectFromDropdown"/> -->
       	  <!-- <class name="com.obsqura.TestNGSample.GroupGenderAgeRadioButton"/> -->
       	 <!--  <class name="com.obsqura.TestNGSample.Guru99SiteRadioButton"/> -->
       	  	<!-- <methods>
       	  		<include name="patientGenderAgeGroupCheck"/>
       	  	</methods>
       	  </class> -->
       	  <class name="com.obsqura.TestNGSample.SelectFromDropdown">
       	  	<methods>
       	  		<include name="elementCount"/>
       	  	</methods>
       	  </class>
       	<!-- <class name="com.obsqura.TestNGSample.Guru99SiteRadioButton"/> -->
       	 	<!-- <methods>
       	 		<include name="patientGenderCheck"/>
       	 		<include name="patientAgeGroupCheck"/>
       	 		<include name="patientMaleOnly"/>
       	 		<include name="patientFemaleOnly"/>
       	 		<include name="firstAgeGroupOnly"/>
       	 		<include name="secondAgeGroupOnly"/>
       	 		<include name="thirdAgeGroupOnly"/>
       	 		<include name="maleFirstAgeGroupOnly"/>
       	 		<include name="maleSecondAgeGroupOnly"/>
       	 		<include name="maleThirdAgeGroupOnly"/>
       	 		<include name="femaleFirstAgeGroupOnly"/>
       	 		<include name="femaleSecondAgeGroupOnly"/>
       	 		<include name="femaleThirdAgeGroupOnly"/>	
       	 	</methods>
       	 </class> -->
     <!--   	 <class name="com.obsqura.TestNGSample.GroupRadioFindElements">
       	 <methods>
       	 		<include name="patientGenderCheck"/>
       	 		<include name="patientOnlyGenderCheck"/>
       	 	</methods>
       	 </class>
	<class name="com.obsqura.TestNGSample.CheckBoxSample"/>
        <class name="com.obsqura.TestNGSample.AnnotationsSample"/> -->
 
    </classes>

  	</test><!-- Test -->
   </suite><!-- Suite -->
