<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
     <!--  <class name="com.obsqura.TestNGSample.BrowserCommands">
      	<methods>
      		<include name="verifyUrl"/>
      	</methods>
      
      </class> -->
      <class name="com.obsqura.TestNGSample.Locators">
      	<methods>
      		<include name="locatingxpathGarage"/>
      	</methods>
      </class>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
